In [1]:
import mysql.connector

In [9]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd=""
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000022657AA6AD0>

In [4]:
mycursor=mydb.cursor()
mycursor.execute("Create Database python_database")

NameError: name 'mydb' is not defined

In [5]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

NameError: name 'mycursor' is not defined

In [6]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="",
database="python_database"
)
mycursor=mydb.cursor()
mycursor.execute("create table my_table(Name varchar(50), Age int, Address varchar(50), Country varchar(30), Languages varchar(25), Gender varchar(10), Comment varchar(5000),Number int)")

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [6]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('my_table',)

In [7]:
sql="INSERT INTO stu_table(id,name,age) values(%s,%s,%s)"
val=(1,"Ananya",21)
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount, "record inserted")

ProgrammingError: 1146 (42S02): Table 'python_database.stu_table' doesn't exist

In [8]:
mycursor.execute("select * from stu_table")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

ProgrammingError: 1146 (42S02): Table 'python_database.stu_table' doesn't exist

In [ ]:
import tkinter as tk
from tkinter.ttk import *
from tkinter import *
from tkinter import messagebox, scrolledtext
import mysql.connector  # make sure to import mysql.connector

window = tk.Tk()
window.title("Face Recognition System")

# Label and text field
l1 = tk.Label(window, text="Name: ", font=("Arial", 15))
l1.place(x=0, y=0)
t1 = tk.Entry(window, bd=5, width=20)
t1.place(x=180, y=0)

l2 = tk.Label(window, text="Age: ", font=("Arial", 15))
l2.place(x=0, y=60)
t2 = tk.Entry(window, bd=5, width=20, show='*')
t2.place(x=180, y=60)

l3 = tk.Label(window, text="Address: ", font=("Arial", 15))
l3.place(x=0, y=120)
t3 = tk.Entry(window, bd=5, width=20, show='*')
t3.place(x=180, y=120)

# Combobox (drop down menu)
l4 = tk.Label(window, text="Drop down menu: ", font=("Arial", 15))
l4.place(x=0, y=180)

c1 = Combobox(window)
c1['values'] = ("Nepal", "India", "Pakistan", "USA", "Bangladesh", "Australia")
c1.current(0)
c1.place(x=180, y=180)

# Check button
l5 = tk.Label(window, text="Languages: ", font=("Arial", 15))
l5.place(x=0, y=240)
var1 = IntVar()
cb1 = Checkbutton(window, text="C", font=('Arial', 10), variable=var1)
cb1.place(x=180, y=240)
var2 = IntVar()
cb2 = Checkbutton(window, text="C++", font=('Arial', 10), variable=var2)
cb2.place(x=280, y=240)
var3 = IntVar()
cb3 = Checkbutton(window, text="Python", font=('Arial', 10), variable=var3)
cb3.place(x=180, y=280)
var4 = IntVar()
cb4 = Checkbutton(window, text="Java", font=('Arial', 10), variable=var4)
cb4.place(x=280, y=280)

# Radio button
l6 = tk.Label(window, text="Sex: ", font=("Arial", 15))
l6.place(x=0, y=320)
var = IntVar()
r1 = tk.Radiobutton(window, text='Male', variable=var, value=1)
r1.place(x=180, y=320)
r2 = tk.Radiobutton(window, text='Female', variable=var, value=2)
r2.place(x=260, y=320)
r3 = tk.Radiobutton(window, text='Other', variable=var, value=3)
r3.place(x=340, y=320)

# Scrolled text
l7 = tk.Label(window, text="Comment: ", font=("Arial", 15))
l7.place(x=0, y=380)
txt = scrolledtext.ScrolledText(window, width=20, height=1)
txt.place(x=180, y=380)
txt.insert(tk.INSERT, 'write some comment')

# Spinbox
l8 = tk.Label(window, text="Number: ", font=("Arial", 15))
l8.place(x=0, y=440)
spin = tk.Spinbox(window, from_=0, to=10, width=5)
spin.place(x=180, y=440)


# Button Function
def btn_clicked():
    # Get selected languages
    langs = []
    if var1.get():
        langs.append("C")
    if var2.get():
        langs.append("C++")
    if var3.get():
        langs.append("Python")
    if var4.get():
        langs.append("Java")
    s1 = ",".join(langs)

    # Get gender from radio button
    if var.get() == 1:
        s2 = "Male"
    elif var.get() == 2:
        s2 = "Female"
    elif var.get() == 3:
        s2 = "Other"
    else:
        s2 = ""

    # Database insertion
    try:
        mydb = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="",
            database="python_database"
        )
        mycursor = mydb.cursor()
        sql = "INSERT INTO my_table(Name, Age, Address, Country, Languages, Gender, Comment, Number) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
        val = (t1.get(), t2.get(), t3.get(), c1.get(), s1, s2, txt.get("1.0", tk.END), spin.get())
        mycursor.execute(sql, val)
        mydb.commit()
        messagebox.showinfo('Message box', 'Your data is successfully inserted')
    except Exception as e:
        messagebox.showerror('Error', f"Something went wrong:\n{e}")


# Submit Button
b1 = tk.Button(window, text="Submit", font=("Arial", 10), bg="orange", fg="red", command=btn_clicked)
b1.place(x=140, y=480)

window.geometry("400x550")
window.mainloop()